@model VoterProfileModel
@{
    ViewData["Title"] = "Signup Page";
}
@section Styles{
    <style>
         body{
          background: #84fab0;
  
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
      }
    </style>
}
<div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="~/images/umak_logo.png" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
            </div>
            
            <div class="ms-3" style="margin-top: 130px;">
              <h5>@Html.DisplayFor(modelItem => modelItem.voterLastName), @Html.DisplayFor(modelItem => modelItem.voterFirstName)</h5>
              <p>@Html.DisplayFor(modelItem => modelItem.voterYearSection)</p>
            </div>
          </div>
          
          <div class="card-body p-4 mt-5 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
              <table class="table table-borderless">
                  <tr>
                      <td>
                        <p class="font-italic mb-1">First Name: </p>
                        <p class="font-italic mb-0">Last Name: </p>
                        <p class="font-italic mb-1">College: </p>
                        <p class="font-italic mb-1">Section: </p>
                        <p class="font-italic mb-1">Email: </p>
                        </td>
                      <td>
                      <p class="font-italic mb-1"><b>@Html.DisplayFor(modelItem => modelItem.voterFirstName)</b></p>
                      <p class="font-italic mb-1"><b>@Html.DisplayFor(modelItem => modelItem.voterLastName)</b></p>
                      <p class="font-italic mb-1"><b>@Html.DisplayFor(modelItem => modelItem.voterCollege)</b></p>
                      <p class="font-italic mb-1"><b>@Html.DisplayFor(modelItem => modelItem.voterYearSection)</b></p>
                      <p class="font-italic mb-1"><b>@Html.DisplayFor(modelItem => modelItem.voterEmail)</b></p>
                      </td>
                  </tr>
                  <tr>
                      <td>
                         <a asp-action="Index" asp-controller="VoterLanding" class="btn btn-outline-dark">Return</a>
                         <a asp-action="VoterUpdate" asp-controller="VoterLanding" class="btn btn-outline-dark">Edit Profile</a>
                      </td>
                  </tr>
              </table>
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>  