@model OnlineVotingSystem.Models.LoginModel;

@{
	ViewData["Title"] = "Home Page";
}
@section Styles{
	<style>
	.gradient-custom-2 {
	/* fallback for old browsers */
	background: #fccb90;
  
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to left, #ee7724, #d8363a, #dd3675, #b44593);
  
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to left, #7F7FD5, #86A8E7, #6DD5FA, #91EAE4);
  }
  body{
	  background-color: #baddff;
  }
  </style>
}

  <div class="container py-5 h-100">
	<div class="row d-flex justify-content-center align-items-center h-100">
	  <div class="col-xl-10">
		<div class="card rounded-3 text-black">
		  <div class="row g-0">
			<div class="col-lg-6">
			  <div class="card-body p-md-5 mx-md-4">

				<div class="text-center">
				  <img src="~/images/umak_logo.png" style="width: 70px; margin-bottom:10px;" alt="logo">
				  <h4 class="mt-1 mb-5 pb-1">UMak Herons Voting Website</h4>
				</div>
				@{ if(Model.hasEnded == true){
				 <form asp-action="landingding" method="post">
					<div class="form-group">
					<div class="mb-4 pb-2">
					<div class="form-floating">
						@Html.EditorFor(model => model.getEmail, new { htmlAttributes = new { @class = "form-control", @placeholder="email@example.com", @id="floatingInput", @data_val="true", @required="required", @type="email", @disabled="disabled" } })
						<label class="form-label" for="floatingInput">Email</label>
					</div>
					</div>
					</div>

					

					<div class="form-group">
					<div class="mb-4 pb-2">
					<div class="form-floating">
						@Html.EditorFor(model => model.getPassword, new { htmlAttributes = new { @class = "form-control", @placeholder="Password", @id="floatingInput", @data_val="true", @required="required", @type="password", @disabled="disabled" } })
						<label class="form-label" for="floatingInput">Password</label>
					</div>
					</div>
					</div>

			<!--submit-->
			<div class="d-grid gap-2">
			  <button class="btn btn-primary btn-block fa-lg mb-3" type="submit" disabled>Log in</button>
			</div>
			</form>
			}
			else {
				<form asp-action="landingding" method="post">
					<div class="form-group">
					<div class="mb-4 pb-2">
					<div class="form-floating">
						@Html.EditorFor(model => model.getEmail, new { htmlAttributes = new { @class = "form-control", @placeholder="email@example.com", @id="floatingInput", @data_val="true", @required="required", @type="email" } })
						<label class="form-label" for="floatingInput">Email</label>
					</div>
					</div>
					</div>

					

					<div class="form-group">
					<div class="mb-4 pb-2">
					<div class="form-floating">
						@Html.EditorFor(model => model.getPassword, new { htmlAttributes = new { @class = "form-control", @placeholder="Password", @id="floatingInput", @data_val="true", @required="required", @type="password" } })
						<label class="form-label" for="floatingInput">Password</label>
					</div>
					</div>
					</div>

				<!--submit-->
				<div class="d-grid gap-2">
				<button class="btn btn-primary btn-block fa-lg mb-3" type="submit">Log in</button>
				</div>
				</form>
			}
			}
		    <div class="text-center pt-1 mb-5 pb-1">
				<a asp-area="" asp-controller="Admin" asp-action="Index">Login as Administrator</a>
			</div>

			<div class="d-flex align-items-center justify-content-center pb-4">
			<p class="mb-0 me-2">Don't have an account?</p>
			<!-- Button trigger modal -->
			@{ if(Model.hasEnded == true){
			<button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>Create new</button>
			}
			else {
			<button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create new</button>
			}
			}
			</div>
			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Please choose if you are a voter or a candidate</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				  </div>
				  <div class="modal-body mt-3" style="padding: 0 20%;">
					<p>
						<a asp-area="" asp-controller="SuVoter" asp-action="Index">
							<button type="button" class="btn btn-primary" style="width:45%">Voter</button></a> or 
						<a asp-area="" asp-controller="Upload" asp-action="Index">
							<button type="button"  class="btn btn-primary"style="width:45%">Candidate</button>
						</a>
					</p>
				  </div>
				</div>
			  </div>
			</div>
			</div>
			</div>
			<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
				<div class="text-white px-3 py-4 p-md-5 mx-md-4" style="width: 100%;">
					<h4 class="mb-4" style="color:black;">University of Makati</h4>
					<p class="small mb-3" style="text-justify:inter-word;text-align:justify; color:black;">University of Makati Online Voting Website.
						Here you can vote for the most deserving candidate in the the upcoming Student Council Election. Students are also allowed to 
						register themselves as one of the candidates, given that their credentials are legit and valid. Register Now!</p>
					
					@{
						if(Model.hasEnded == true){
							<div>
								<h5>The Election has ended!
								<br>Users are now barred from signing up and signing in to prevent unneccessary votes and candidate registrations.</h5>
								<a asp-action="Index" asp-controller="ElectionResult" class="btn btn-outline-dark btn-lg mt-5">View Result</a>
							</div>
						}
						else
						{
							<div style="width: 100%" class="text-dark">  
								<marquee direction="left"><strong>The election will end on: @Html.DisplayFor(model => model.electionEnd)</strong></marquee>  
							</div>  
						}
					}				
				</div>
							
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
